################################################################################
# 이 .gitignore 파일은 Microsoft(R) Visual Studio에서 자동으로 만들어졌습니다.
################################################################################

/CressemOdbViewer/.vs/CressemOdbViewer
/CressemOdbViewer/CressemOdbViewer/obj/Debug
/CressemOdbViewer/CressemOdbViewer/bin/x64/Debug
/CressemOdbViewer/CressemOdbViewer/obj/x64
/CressemFramework/.vs
/CressemFramework/bin/x64
/CressemFramework/obj/x64
/CressemOdbViewer/CressemOdbViewer/.vs
