################################################################################
# 이 .gitignore 파일은 Microsoft(R) Visual Studio에서 자동으로 만들어졌습니다.
################################################################################

/CressemCADViewer/.vs
/CressemCADViewer/bin
/CressemCADViewer/obj
/CressemCADViewer/CressemCADViewer/.vs
/CressemCADViewer/CressemCADViewer/bin
/CressemCADViewer/CressemCADViewer/obj
/CressemCADViewer/CressemExtractLibrary/.vs
/CressemCADViewer/CressemExtractLibrary/bin
/CressemCADViewer/CressemExtractLibrary/obj
/CressemCADViewer/CressemFramework/.vs
/CressemCADViewer/CressemFramework/bin
/CressemCADViewer/CressemFramework/obj
/CressemCADViewer/CressemLogger/.vs
/CressemCADViewer/CressemLogger/bin
/CressemCADViewer/CressemLogger/obj
/CressemCADViewer/CressemUtil/.vs
/CressemCADViewer/CressemUtil/bin
/CressemCADViewer/CressemUtil/obj
/CressemCADViewer/ImageControl/.vs
/CressemCADViewer/ImageControl/bin
/CressemCADViewer/ImageControl/obj
