################################################################################
# 이 .gitignore 파일은 Microsoft(R) Visual Studio에서 자동으로 만들어졌습니다.
################################################################################

/CressemCADViewer/.vs
/CressemCADViewer/CressemCADViewer/.vs
/CressemCADViewer/CressemCADViewer/bin/x64
/CressemCADViewer/CressemCADViewer/obj/x64/Debug
/CressemCADViewer/CressemExtractLibrary/.vs
/CressemCADViewer/CressemExtractLibrary/bin/x64/Debug
/CressemCADViewer/CressemExtractLibrary/obj/x64/Debug
/CressemCADViewer/CressemFramework/.vs
/CressemCADViewer/CressemFramework/bin/x64/Debug
/CressemCADViewer/CressemFramework/obj/x64/Debug
/CressemCADViewer/CressemLogger/.vs
/CressemCADViewer/CressemLogger/bin/x64/Debug
/CressemCADViewer/CressemLogger/obj/x64/Debug
/CressemCADViewer/CressemUtil/.vs
/CressemCADViewer/CressemUtil/bin
/CressemCADViewer/CressemUtil/obj
/CressemCADViewer/ImageControl/obj/x64/Debug
/CressemCADViewer/ImageControl/bin/x64/Debug
